/* List user */
.user-managerment {
    background-color: #fff;
    min-height: 90vh;
    width: 100%;
    padding: 20px;
}

.user-managerment .title {
    font-size: 30px;
    font-weight: bold;
}

.user-managerment .add-prompt {
    text-align: right;
    font-size: 30px;
}

.user-managerment .add-prompt button {
    background-color: #ccc;
    padding: 0px 17px 5px 17px;
    border-radius: 50%;
    border: none;
    color: #fff;
}

.role-admin,
.role-member {
    padding: 3px;
    border-radius: 8px;
    text-align: center;
    width: 100px;
    margin-bottom: 0;
}

.role-admin {
    background-color: #26adc9;
    color: #fff;
}

.role-member {
    background-color: #e5e5e5;
}

/* Edit Prompt */
.modal-edit-prompt {
    width: 90%;
    left: 5%;
}

.edit-prompt .titile-add {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.edit-prompt .center_form {
    margin: 10px auto;
    width: 98%;
}

.edit-prompt .content-prompt {
    max-height: 65vh;
    overflow: auto;
}

.edit-prompt .label-input {
    font-size: 16px !important;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-prompt .btn-save {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #26ADC9;
    color: #fff;
}

.edit-prompt .btn-save:hover {
    background: #A8DEE9;
}

.fa-eye {
    float: right;
    margin: -23px 5px 0 0;
    cursor: pointer;
    color: #26ADC9;
}

.fa-pen {
    margin-right: 5px;
}