.login-form {
  padding: 5% 20%;
  height: 100vh;
}

.login-content {
  background-color: #fff;
  height: 100%;
  color: #000;
}

.bg_login {
  background-image: url('./../../../assets/images/bg-login.png');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.login-form .center_form {
  margin: 0 auto;
  width: 70%;
  top: 33%;
  position: sticky;
}

.center_form .title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.center_form .label-input {
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: bold;
}

.center_form .form-control {
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  height: 45px;
  font-size: 16px;
  color: #999 !important;
}

.center_form .btn-login {
  width: 100%;
  border-radius: 8px;
  height: 55px;
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: #26ADC9;
  margin-top: 10px;
}

.error {
  color: red;
}