.login-form {
  padding: 5% 20%;
  height: 100vh;
  overflow-y: auto;
}

.login-content {
  background-color: #fff;
  height: 100%;
  min-height: 470px;
  color: #000;
}

.bg_login {
  background-image: url('./../../../assets/images/bg-login.png');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.login-form .form-content {
  display: flex;
  align-items: center;
}

.login-form .center_form {
  margin: 0 auto;
  width: 70%;
}

.center_form .title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.center_form .label-input {
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: bold;
}

.center_form .form-control {
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  height: 45px;
  font-size: 16px;
  color: #999 !important;
}

.center_form .feild-pass {
  padding-right: 30px;
}

.center_form .btn-login {
  width: 100%;
  border-radius: 8px;
  height: 55px;
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: #26ADC9;
  margin-top: 10px;
}

.error {
  color: red;
}

.login-form .iconShowPass {
  float: right;
  margin: -28px 5px 0 0;
  cursor: pointer;
  color: #26ADC9;
}

/* scroll */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}