/* css for popup dialog */
.modal-dialog {
    max-width: none !important;
    color: #000;
}

.modal-instruction {
    width: 50%;
    left: 25%;
}

.modal-instruction .modal-body {
    padding: 20px 30px;
    max-height: 80vh;
    overflow-y: auto;
}

.modalContent {
    border-radius: 15px;
    border: none;
}

.modalHeader {
    justify-content: left;
    border-radius: 0;
    margin: 0 15px;
    padding: 10px 0;
}

.titlePopup {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    font-weight: 600 !important;
    font-size: 16px !important;
    margin-top: 9px !important;
}

.titlePopup p {
    margin: 0 20px 0 0;
}

.btn-Colse {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
}

.item-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPopup .btnCancel, .btnPopup .btnSubmitPopup {
    width: 130px;
    height: 35px;
    border-radius: 20px !important;
    border: 1px solid #26adc9 !important;
    box-shadow: none !important;
}

.btnPopup .btnCancel {
    background: none;
    color: #26adc9 ;
}

.btnPopup .btnCancel:hover {
    background: none;
    color: #A8DEE9 !important;
    border: 1px solid #A8DEE9 !important;
}

.btnPopup .btnSubmitPopup {
    margin-left: 20px;
    background: #26adc9 !important;
}

.btnPopup .btnSubmitPopup:hover {
    background: #A8DEE9 !important;
    border: 1px solid #A8DEE9 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .modal-instruction {
        width: 70%;
        left: 15%;
    }
}
