.dashboard {
    background-color: #fff;
    min-height: 90vh;
    padding-top: 30px;
    border-radius: 10px;
}

.content-db {
    border: 1px solid #c5c5c5;
    margin: 20px 30px;
    padding: 0 20px 20px 20px;
}

.left-content, .right-content {
    border: 1px solid #c5c5c5;
    margin-top: 20px;
}

.content-db .icon-users {
    margin-left: 20px;
    text-decoration: none;
    color: #61696d;
}

.content-db .icon-users i {
    margin-top: 28px;
}

.content-db .icon-rotata {
    margin: 20px 0 0 20px;
}

.content-db .label {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.content-db .tt-report {
    border: 1px solid #c5c5c5;
    border-top: none;
    padding: 10px;
}

.content-db .value-report {
    float: right;
}