.wrapper {
  background-color: #F2F2F2 !important;
  display: flex;
  height: 100vh;
}

/* Side bar */
.full-sidebar {
  width: 300px;
}

.small-sidebar {
  width: 130px;
  min-width: 130px;
}

.sidebar, .sidebar-content {
  background: #FFFFFF;
}

.sidebar .logo {
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 30px;
  padding: 30px 0 15px 0;
}

.sidebar .logo a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.sidebar .list-group {
  padding: 0 10px;
}

.sidebar .sidebar-toggle {
  float: right;
  display: inline;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding-top: 2px;
  width: 28px;
  margin: -45px 10px 0 0;
  background-color: #fff;
}

.sidebar .expand-sidebar {
  margin-right: -10px;
}

.btn-add-document {
  background-color: #26ADC9;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #26ADC9;
  color: white;
  font-size: 14px;
}

.btn-add-document:hover {
  background-color: #A8DEE9;
  border-color: #A8DEE9;
}

.main-menu {
  background-color: #d4eff4;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px 10px 0 5px;
  font-size: 16px;
}

.main-menu-extended {
  width: 270px;
  z-index: 2;
}

.active-file {
  background-color: #a8dee9;
  border-radius: 5px;
}

.icon-action {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}

/* Popup upload */
.content-popup-upload {
  font-size: 16px;
}

.area-upload {
  border: 1px dashed #26ADC9;
  border-radius: 10px;
  background-color: #f4fbfc;
  font-weight: 400;
}

.area-upload p {
  font-size: 16px;
}

.area-upload label {
  outline: none !important;
  width: 100%;
}

.content-popup-upload .content-warn {
  color: #999999;
  font-size: 14px;
}

.area-upload .btn-upload {
  background-color: #26ADC9;
  border: 1px solid #26ADC9;
  border-radius: 10px;
  padding: 5px 20px;
  color: #fff;
  margin-top: -7px;
  margin-bottom: 10px;
}

.area-upload .btn-upload:hover {
  background-color: #A8DEE9;
  border-color: #A8DEE9;
}

.area-upload .btn-upload:active {
  background-color: #A8DEE9;
  border: none;
}

.area-upload .file-type {
  font-size: 14px;
}

.area-upload .file-name {
  color: #26ADC9;
}

/* Main */
.main {
  background-color: #F2F2F2;
  margin-left: 10px;
}
/* Nav menu */
.notification-top-bar {
  position: fixed;
  top: 0;
  z-index: 10000;
  height: auto;
  width: 100%;
}

.navbar {
  box-shadow: none !important;
  height: 9vh;
  background: #F2F2F2;
  padding-left: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.dropdown-index .dropdown-menu {
  text-align: left !important;
  margin-top: 40px !important;
  border-radius: 0px !important;
}

.dropdown-index .dropdown-item:hover {
  background: #d4eff4 !important;
}

.custom-nav-dropdown .dropdown-toggle::after {
  display: none;
}

/* Main Content */
.main-content {
  overflow-y: auto;
  background-color: #F2F2F2;
}

/* Risk content */
.risk-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  height: 60vh;
}

.risk-content .title-risk {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin: 10px;
}

.table-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 91%;
}

.risk-content-item {
  background-color: #f4fbfc !important;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.risk-content-item-topic {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.fa-chevron-down, .fa-chevron-up {
  margin-left: 10px;
  cursor: pointer;
}

.title-left {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #26ADC9;
  font-weight: 600;
}

.source-text {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

.source-text-item {
  border-top: 1px dashed #cccccc;
}

/* ChatGPT Content */
.chat-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  height: 28vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chat-content .title-chat {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin: 10px;
}

/* PDF Document */
.pdf-document {
  border-radius: 15px;
}

.rpv-search__highlight--current {
  background-color: rgba(255, 255, 0, 0.4) !important;
}

.component-pdf {
  display: flex;
  flex-direction: column;
  height: 89vh;
  border-radius: 15px;
}

.header-pdf {
  align-items: center;
  background-color: #26ADC9;
  display: flex;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}

.header-pdf .rpv-core__textbox {
  color: #fff;
  background-color: #0d3c46;
  border-radius: 0;
  border: none !important;
  height: auto;
  text-align: center;
  width: 80%;
}

.header-pdf .rpv-core__minimal-button {
  color: #fff;
  padding: 5px;
}

.header-pdf .rpv-zoom__popover-target {
  background-color: #0d3c46;
  padding: 0 3px 0 7px;
}

.header-pdf .rpv-zoom__popover-target-arrow {
  display: none;
}

.header-pdf .btn-closePdf {
  padding: 0 2px;
  font-size: 20px;
  margin-right: 3px;
  cursor: pointer;
}

.header-pdf .btn-closePdf:hover {
  background-color: #229bb5;
  border-radius: 5px;
}

.content-pdf {
  overflow: hidden;
  flex: 1;
}

/* scroll */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
