.wrapper {
  background-color: #F2F2F2 !important;
  display: flex;
  height: 100vh;
}

/* Side bar */
.sidebar {
  margin-right: 10px;
  width: 300px;
}

.sidebar, .sidebar-content {
  background: #FFFFFF !important;
}

.sidebar .logo-sidebar {
  width: 70%;
}

.sidebar .sidebar-toggle {
  float: right;
  display: inline;
  margin-top: 25px;
  margin-right: 10px;
}

.sidebar .icon-toggle {
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding: 5px 9px;
  width: 28px;
}

.btn-add-document {
  background-color: #26ADC9;
  width: 92%;
  border-radius: 10px;
  border: 1px solid #26ADC9;
  color: white;
  margin: 30px 10px 0px 10px;
  font-size: 14px;
}

.btn-add-document:hover {
  background-color: #A8DEE9;
  border-color: #A8DEE9;
}

.main-menu {
  background-color: #d4eff4;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 10px 1px 10px;
  font-size: 16px;
}

.active-file {
  background-color: #a8dee9;
  border-radius: 5px;
}

.icon-action {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}

/* Popup upload */
.content-popup-upload {
  font-size: 16px;
}

.area-upload {
  border: 1px dashed #26ADC9;
  border-radius: 10px;
  background-color: #f4fbfc;
  font-weight: 400;
}

.area-upload p {
  font-size: 16px;
}

.area-upload label {
  outline: none !important;
  width: 100%;
}

.content-popup-upload .content-warn {
  color: #999999;
  font-size: 14px;
}

.area-upload .btn-upload {
  background-color: #26ADC9;
  border: 1px solid #26ADC9;
  border-radius: 10px;
  padding: 5px 20px;
  color: #fff;
  margin-top: -7px;
  margin-bottom: 10px;
}

.area-upload .btn-upload:hover {
  background-color: #A8DEE9;
  border-color: #A8DEE9;
}

.area-upload .btn-upload:active {
  background-color: #A8DEE9;
  border: none;
}

.area-upload .file-type {
  font-size: 14px;
}

.area-upload .file-name {
  color: #26ADC9;
}

/* Main */
.main {
  background-color: #F2F2F2;
}
/* Nav menu */
.notification-top-bar {
  position: fixed;
  top: 0;
  z-index: 10000;
  height: auto;
  width: 100%;
}

.navbar {
  box-shadow: none !important;
  height: 9vh;
  background: #F2F2F2;
  padding-left: 0;
}

.navbar .sidebar-toggle {
  border: 1px solid #495057;
  border-radius: 50%;
  padding: 5px 9px;
  width: 28px;
  margin-left: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.dropdown-index .dropdown-menu {
  text-align: left !important;
  margin-top: 40px !important;
  border-radius: 0px !important;
}

.dropdown-index .dropdown-item:hover {
  background: #d4eff4 !important;
}

.custom-nav-dropdown .dropdown-toggle::after {
  display: none;
}

/* Main Content */
.main-content {
  overflow-y: auto;
  background-color: #F2F2F2;
}

/* Risk content */
.risk-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  height: 60vh;
}

.risk-content .title-risk {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin: 10px;
}

.table-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 91%;
}

.risk-content-item {
  background-color: #f4fbfc !important;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.risk-content-item-topic {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.fa-chevron-down, .fa-chevron-up {
  margin-left: 10px;
  cursor: pointer;
}

.title-left {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #26ADC9;
  font-weight: 600;
}

.source-text {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

.source-text-item {
  border-top: 1px dashed #cccccc;
}

/* ChatGPT Content */
.chat-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  height: 28vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chat-content .title-chat {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin: 10px;
}

/* PDF Document */
.pdf-document {
  border-radius: 15px;
}

.rpv-search__highlight--current {
  background-color: rgba(255, 255, 0, 0.4) !important;
}

.component-pdf {
  display: flex;
  flex-direction: column;
  height: 89vh;
  border-radius: 15px;
}

.header-pdf {
  align-items: center;
  background-color: #26ADC9;
  display: flex;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}

.content-pdf {
  overflow: hidden;
  flex: 1;
}

/* scroll */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
