.wrapper {
  background-color: #F2F2F2 !important;
  display: flex;
  overflow: auto;
}

/* Side bar */
.full-sidebar {
  width: 260px;
}

.small-sidebar {
  width: 130px;
  min-width: 130px;
}

.sidebar .logo {
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 30px;
  padding-top: 30px;
}

.sidebar .logo a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.sidebar .list-group {
  padding: 0 10px;
  margin-top: -20px;
}

.sidebar .sidebar-toggle {
  float: right;
  display: inline;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding-top: 2px;
  width: 28px;
  margin: -45px 10px 0 0;
  background-color: #fff;
}

.sidebar .expand-sidebar {
  margin-right: -10px;
}

.sidebar .btn-add-document {
  background-color: #26ADC9;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #26ADC9;
  color: white;
  font-size: 14px;
}

.sidebar .btn-add-document:hover {
  background-color: #A8DEE9;
  border-color: #A8DEE9;
}

.sidebar .btn-disabled {
  background-color: #ccc;
  border-color: #ccc;
}

.sidebar .btn-disabled:hover {
  background-color: #ccc;
  border-color: #ccc;
}

.sidebar .sidebar-nav {
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 16px;
}

.sidebar .sidebar-item {
  border-radius: 8px;
}

.sidebar .sidebar-link {
  background-color: transparent;
  color: #000;
  padding: 10px;
}

.sidebar .active-sidebar {
  background-color: #26ADC9;
}

.sidebar .active-sidebar a {
  color: #fff;
}

.sidebar .fa-user,
.sidebar .fa-comment {
  margin-right: 10px;
}

.sidebar .main-menu {
  background-color: #d4eff4;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

.sidebar .main-menu-title {
  font-weight: bold;
}

.sidebar .main-menu-extended {
  width: 270px;
  z-index: 2;
}

.sidebar .list-file {
  overflow-y: auto;
}

.sidebar .list-file button {
  cursor: pointer;
  background-color: #d4eff4;
  border: none;
  width: 100%;
  text-align: left;
}

.sidebar .active-file {
  background-color: #a8dee9 !important;
  border-radius: 5px;
}

.sidebar .icon-action {
  float: right;
  margin-top: 7px;
}

.sidebar .version {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 13px 0;
}

/* Popup upload */
.content-popup-upload,
.area-upload p {
  font-size: 16px;
}

.area-upload {
  border: 1px dashed #26ADC9;
  border-radius: 10px;
  background-color: #f4fbfc;
  font-weight: 400;
}

.area-upload label {
  outline: none !important;
  width: 100%;
}

.content-popup-upload .content-warn {
  color: #999999;
  font-size: 14px;
}

.area-upload .btn-upload {
  background-color: #26ADC9;
  border: 1px solid #26ADC9;
  border-radius: 10px;
  padding: 5px 20px;
  color: #fff;
  margin-top: -7px;
  margin-bottom: 10px;
}

.area-upload .btn-upload:hover {
  background-color: #A8DEE9;
  border-color: #A8DEE9;
}

.area-upload .btn-upload:active {
  background-color: #A8DEE9;
  border: none;
}

.area-upload .file-type {
  font-size: 14px;
}

.area-upload .file-name {
  color: #26ADC9;
}

/* Main */
.main {
  background-color: #F2F2F2;
  margin-left: 10px;
}

/* Nav menu */
.notification-top-bar {
  position: fixed;
  top: 0;
  z-index: 10000;
  height: auto;
  width: 100%;
}

.navbar {
  box-shadow: none !important;
  height: 9vh;
  background: #F2F2F2;
  padding-left: 0;
  width: 100%;
  min-height: 50px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.dropdown-index .dropdown-menu {
  text-align: left !important;
  margin-top: 40px !important;
  border-radius: 0px !important;
}

.dropdown-index .dropdown-item:hover {
  background: #d4eff4 !important;
}

.custom-nav-dropdown .dropdown-toggle::after {
  display: none;
}

.error {
  color: red;
}

/* scroll */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
