.wrapper {
    background-color: #F2F2F2;
}

.sidebar {
    margin-right: 10px;
}

.sidebar, .sidebar-content {
    background: #FFFFFF !important;
}

.navbar {
    box-shadow: none !important;
    height: 9vh;
    background: #F2F2F2;
    padding-left: 0;
}

main.content {
    padding: 0;
    height: 90vh;
    background-color: #F2F2F2;
}

.notification-top-bar {
    position: fixed;
    top: 0;
    z-index: 10000;
    height: auto;
    width: 100%;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.dropdown-index .dropdown-menu {
    text-align: left !important;
    margin-top: 40px !important;
    border-radius: 0px !important;
}

.dropdown-index .dropdown-item:hover {
    background: #d4eff4 !important;
}

.custom-nav-dropdown .dropdown-toggle::after {
    display: none;
}

.btn-add-document {
    background-color: #26ADC9;
    width: 92%;
    border-radius: 10px;
    border: 1px solid #26ADC9;
    color: white;
    margin: 30px 10px 0px 10px;
    font-size: 14px;
}

.main-menu {
    background-color: #d4eff4;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 10px 1px 10px;
    font-size: 16px;
}

.active-file {
    background-color: #a8dee9;
    border-radius: 5px;
}

.icon-action {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

/* Custom button input type file */
.custom-file-input {
    color: transparent;
    width: 115px;
    margin-bottom: 10px;
    margin-top: -6px;
  }
  
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  .custom-file-input::before {
    content: 'Browse File';
    display: inline-block;
    background: #26ADC9;
    border: 1px solid #26ADC9;
    border-radius: 7px;
    padding: 5px 20px;
    /* -webkit-user-select: none; */
    cursor: pointer;
    font-size: 14px;
    color: #fff;
  }
  
  .custom-file-input:hover::before {
    border-color: #A8DEE9 !important;
    background-color: #A8DEE9 !important;
  }
  


/* Media query for tablet/ipad devices with min-width: 768px and max-width: 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        min-width: 770px !important;
    }

    .notification-top-bar {
        min-width: 134% !important;
    }

    .navbar .show {
        inset: 0px 0px auto auto !important;
    }
}