/* List user */
.user-managerment {
    background-color: #fff;
    min-height: 90vh;
    width: 100%;
    padding: 20px;
}

.user-managerment .title {
    font-size: 30px;
    font-weight: bold;
}

.user-managerment .add-user {
    text-align: right;
    font-size: 30px;
}

.user-managerment .add-user button {
    background-color: #26ADC9;
    padding: 0px 17px 5px 17px;
    border-radius: 50%;
    border: none;
    color: #fff;
}

.user-managerment .add-user button:hover {
    background-color: #A8DEE9;
    border-color: #A8DEE9;
}

.user-managerment .add-user button:active {
    background-color: #A8DEE9;
    border: none;
}

.user-managerment p, .user-managerment ul {
    margin-bottom: 0;
    padding: 7px;
}

.role-admin,
.role-member {
    padding: 3px;
    border-radius: 8px;
    text-align: center;
    width: 75px;
    margin-bottom: 0;
}

.role-admin {
    background-color: #26adc9;
    color: #fff;
}

.role-member {
    background-color: #e5e5e5;
}

.last-login {
    min-width: 145px;
}

.last-login .last-login-item-left,
.last-login .last-login-item-right {
    padding-right: 0;
}

.last-login .last-login-item-right {
    display: grid;
    align-items: center;
    padding-left: 0;
    text-align: right;
}

.last-login-item-right .icon-action {
    cursor: pointer;
}

.last-login-item-right .icon-action span {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 0 3px;
}

/* Add new user, Edit user */

.edit-user .titile-add {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.edit-user .center_form {
    margin: 10px auto;
    width: 80%;
}

.edit-user .label-input {
    font-size: 16px !important;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-user .btn-save {
    margin-top: 10px;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #26ADC9;
    color: #fff;
}

.edit-user .btn-save:hover {
    background: #A8DEE9;
}

.fa-eye {
    float: right;
    margin: -23px 5px 0 0;
    cursor: pointer;
    color: #26ADC9;
}

.fa-pen {
    margin-right: 5px;
}


/* Modal history */

.modal-history {
    width: 80%;
    left: 10%;
}

.ant-btn-primary {
    margin-right: 10px;
    background-color: #26ADC9;
}