/* List user */
.user-managerment {
    background-color: #fff;
    min-height: 90vh;
    width: 100%;
    padding: 20px;
}

.user-managerment .title {
    font-size: 30px;
    font-weight: bold;
}

.user-managerment .add-user {
    text-align: right;
    font-size: 30px;
}

.user-managerment .add-user button {
    background-color: #26ADC9;
    padding: 0px 17px 5px 17px;
    border-radius: 50%;
    border: none;
    color: #fff;
}

.user-managerment .add-user button:hover {
    background-color: #A8DEE9;
    border-color: #A8DEE9;
}

.user-managerment .add-user button:active {
    background-color: #A8DEE9;
    border: none;
}

.user-managerment .table-user {
    margin-top: 20px;
}

.ant-table {
    border: 1px solid #E5E5E5 !important;
    border-radius: 8px !important;
}

.ant-table-thead tr th {
    background-color: #f4fbfc !important;
    color: #1e8aa1 !important;
}

.ant-table-cell {
    height: 50px;
    padding: 0 10px !important;
}

.ant-table-cell-row-hover {
    background: #f4fbfc !important;
    cursor: pointer !important;
}

.ant-table-column-sorter-down.active,
.ant-table-column-sorter-up.active {
    color: #26ADC9 !important;
}

.ant-pagination {
    justify-content: center !important;
}

.ant-pagination-item {
    border-radius: 50% !important;
}

.ant-pagination-item-active {
    border-color: #26adc9 !important;
    background: #26adc9 !important;
    color: #fff !important;
}

.ant-pagination-item-link {
    color: #000 !important;
    border-radius: 50% !important;
}

.role-admin,
.role-member {
    padding: 3px;
    border-radius: 8px;
    text-align: center;
    width: 100px;
    margin-bottom: 0;
}

.role-admin {
    background-color: #26adc9;
    color: #fff;
}

.role-member {
    background-color: #e5e5e5;
}

/* Add new user, Edit user */

.edit-user .titile-add {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.edit-user .center_form {
    margin: 10px auto;
    width: 80%;
}

.edit-user .label-input {
    font-size: 16px !important;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-user .btn-save {
    margin-top: 30px;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #26ADC9;
    color: #fff;
}

.edit-user .btn-save:hover {
    background: #A8DEE9;
}

.fa-eye {
    float: right;
    margin: -23px 5px 0 0;
    cursor: pointer;
    color: #26ADC9;
}

.fa-pen {
    margin-right: 5px;
}