.table-user {
    margin-top: 20px;
}

.ant-table {
    border: 1px solid #E5E5E5 !important;
    border-radius: 8px !important;
    font-family: Arial, sans-serif !important;
}

.ant-table-thead tr th {
    background-color: #f4fbfc !important;
    color: #1e8aa1 !important;
}

.ant-table-cell {
    height: 50px;
    padding: 0 10px !important;
}

.ant-table-cell p {
    margin: 10px 0;
}

.ant-table-cell-row-hover {
    background: #f4fbfc !important;
}

.ant-table-column-sorter-down.active,
.ant-table-column-sorter-up.active {
    color: #26ADC9 !important;
}

.ant-pagination {
    justify-content: center !important;
}

.ant-pagination-item {
    border-radius: 50% !important;
}

.ant-pagination-item-active {
    border-color: #26adc9 !important;
    background: #26adc9 !important;
    color: #fff !important;
}

.ant-pagination-item-link {
    color: #000 !important;
    border-radius: 50% !important;
}