/* Main Content */
.main-content {
  overflow-y: auto;
  background-color: #F2F2F2;
}

.default-risk {
  margin-bottom: 10px;
}

.main-risk {
  margin-right: -14px;
}

.main-content .icon-chat {
  color: #26ADC9;
  cursor: pointer;
  margin-top: -10px;
  position: absolute;
}

.main-content .icon-show-pdf {
  float: right;
  margin: 35px 10px 0 0;
  cursor: pointer;
}

/* Progress Aanalysis */

.analysis-progress {
  padding-top: 10px;
}

/* Risk content */
.risk-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  height: 60vh; 
}

.full-height {
  height: 89vh;
}

.min-height {
  display: none;
}

.risk-content .title-risk {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin: 10px;
}

.risk-content .icon-download-pdf {
  float: left;
  margin: -23px 5px 0 0;
  cursor: pointer;
}

.table-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.risk-content-item {
  background-color: #f4fbfc !important;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.risk-content-item-topic {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.fa-chevron-down, .fa-chevron-up {
  margin-left: 10px;
  cursor: pointer;
}

.title-left {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #26ADC9;
  font-weight: 600;
}

.source-text {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

.source-text .source-text-item:hover {
  color: #26ADC9;
}

.source-text .item-style {
  border-top: 1px dashed #cccccc;
}

/* ChatGPT Content */
.chat-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  height: 28vh;
  margin-top: 10px;
}

.full-chat {
  height: 88vh;
}

.chat-content .title-chat {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin: 10px;
}

.chat-content .icon-close, .icon-expand  {
  float: right;
  cursor: pointer;
}

.chat-content .icon-close {
  margin-right: 0;
}

.chat-content .icon-expand {
  margin-right: 10px;
}

.conversation {
  height: 65%;
  overflow: auto;
  margin-top: 20px;
}

.height-full {
  height: 88%;
}

.conversation .question {
  color: #fff;
  text-align: right;
  padding-right: 5px;
  margin-left: 10%;
}

.question .question-content {
  background-color: #26ADC9;
  padding: 10px;
  border-radius: 8px;
  height: max-content;
  width: fit-content;
  text-align: left;
}

.conversation .answer .answer-content {
  background-color: #ccc;
  padding: 10px;
  border-radius: 8px;
}

.field-input {
  width: 99%;
  background-color: #f4fbfc;
  border: none !important;
  border-radius: 10px;
  height: 40px;
  margin-right: 3px;
  padding-left: 10px;
}

.iconSend {
  position: relative;
  background: none;
  border: none !important;
  float: right;
  margin: 15px 10px -35px 0;
  z-index: 10;
}

@keyframes dot-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.dot-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 35px;
  padding: 10px;
  background-color: #ccc;
  width: fit-content;
  border-radius: 10px;
}

.dot {
  width: 7px;
  height: 7px;
  background-color: #0d3c46;
  border-radius: 50%;
  margin: 0 5px;
  animation: dot-pulse 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

/* PDF Document */
.rpv-search__highlight--current {
  background-color: rgba(255, 255, 0, 0.4) !important;
}

.component-pdf {
  display: flex;
  flex-direction: column;
  height: 89vh;
  border-radius: 15px;
}

.header-pdf {
  align-items: center;
  background-color: #26ADC9;
  display: flex;
  padding: 5px;
  border-radius: 15px 15px 0 0;
}

.header-pdf .rpv-core__textbox {
  color: #fff;
  background-color: #0d3c46;
  border-radius: 0;
  border: none !important;
  height: auto;
  text-align: center;
  width: 80%;
}

.header-pdf .rpv-core__minimal-button {
  color: #fff;
  padding: 5px;
}

.header-pdf .rpv-zoom__popover-target {
  background-color: #0d3c46;
  padding: 0 3px 0 7px;
}

.header-pdf .rpv-zoom__popover-target-arrow {
  display: none;
}

.header-pdf .btn-closePdf {
  padding: 0 2px;
  font-size: 20px;
  margin-right: 3px;
  cursor: pointer;
}

.header-pdf .btn-closePdf:hover {
  background-color: #229bb5;
  border-radius: 5px;
}

.content-pdf {
  overflow: hidden;
  flex: 1;
}

/* scroll */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
